body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

.machines {
    padding: 20px;
}

.machine-list {
    display: flex;
    gap: 20px;
}

.machine {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

button {
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.form-section {
    padding: 20px;
}
.machine img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
